@model Auth.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>
<br />
<ul class="gigs">
    @foreach (var gig in Model.UpcommingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name
                    @if (Model.ShowActions)
                    {
                        <button data-user-id="@gig.ArtistId" class="btn btn-link btn-sm pull-right js-toggle-follow">Follow</button>
                    }

                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-outline-danger btn-sm pull-right js-toggle-attendance">Going?</button>
                }
                
            </div>

        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.js-toggle-attendance').click(function (e) {

                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id")})
                    .done(function() {
                        button
                            .removeClass("btn-outline-danger")
                            .addClass("btn-danger")
                            .text("Going");
                    })
                    .fail(function() {
                        alert("Something failed!");
                    });
            });

            $('.js-toggle-follow').click(function (e) {

                var button = $(e.target);

                $.post("/api/followings", { FolloweeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("Following");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });
    </script>
}